<h2>Subject and behavior Subject</h2>
<app-header></app-header>
<app-footer></app-footer>

<hr />
<br />
<h2>{{ title | uppercase }}</h2>

<h3>Route area</h3>
<a routerLink="/first">Go to First</a><br />
<a routerLink="/second">Go to Second</a><br />
<a routerLink="/third">Go to Third</a><br />
<a routerLink="/fourth">Go to Fourth</a><br />
<a routerLink="/customer">Go to Customer</a>
<hr />

<router-outlet></router-outlet>

<hr />
<br /><br />
<p>{{ userObject | json }}</p>
<p>{{ newDate | date: "medium" }}</p>
<p>{{ "Hello world how are you" | truncate }}</p>
<input type="button" value="Click me.." (click)="handleClick($event)" />
<input
  type="text"
  name="name"
  id="name"
  (keydown)="handleClick($event)"
  [(ngModel)]="title"
/>
<input
  type="text"
  name="name1"
  id="name1"
  (keydown)="handleClick($event)"
  [ngModel]="title"
/>

<ul *ngFor="let item of posts | async; let i = index">
  <li>{{ i + 1 }} - {{ item | json }}</li>
</ul>

<hr />

<app-user [user]="userObject" (userEvent)="handleUserEvent($event)"></app-user>
